<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width={{width}}, initial-scale=1"/>
	<title>jsmpeg streaming</title>
	<style type="text/css">
		body {
			background-color: #333;
			text-align: center;
			margin-top: 10px	;
		}
		#videoCanvas {
			/* Always stretch the canvas to 640x480, regardless of its
			internal size. */
			width: {{width}}px;
			height: {{height}}px;
		}
	</style>
</head>
<body>
	<!-- The Canvas size specified here is the "initial" internal resolution. jsmpeg will
		change this internal resolution to whatever the source provides. The size the
		canvas is displayed on the website is dictated by the CSS style.
	-->
	<canvas id="videoCanvas" width="{{width}}" height="{{height}}">
	</canvas>
	<script type="text/javascript" src="static/js/jsmpeg.min.js"></script>
	<script type="text/javascript">
		// Show loading notice
		let canvas = document.getElementById('videoCanvas');
		let ctx = canvas.getContext('2d');
		ctx.fillStyle = '#444';
		ctx.fillText('Loading...', canvas.width/2-30, canvas.height/3);
		// Setup the WebSocket connection and start the player
		let url = 'ws://' + window.location.hostname + ':' + window.location.port + '/video';
		let player = new JSMpeg.Player(url, {canvas: canvas, disableGl: true});
	</script>
</body>
</html>